---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>European Rabbit</title>
    </head>
    <body>
        <h1>European Rabbit</h1>
        <p>
            The European rabbit (<i>Oryctolagus cuniculus</i>) is native to the
            Iberian Peninsula.
        </p>
        <nav>
            <a href="/">Home</a>
            <a href="/species/mountain-hare/">Mountain Hare</a>
            <a href="https://bob.test/regions/yorkshire/">Yorkshire Rabbits</a>
            <a href="https://en.wikipedia.org/wiki/European_rabbit">Wikipedia</a
            >
        </nav>
    </body>
</html>
